.mainForName,
.heading {
    border: 1px black solid;
    padding: 3px 0;
    margin: 0 -1px -1px 0;
    text-align: center;
}

.mainForName {
    cursor: pointer
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.bigWrap {
    display: flex;
    justify-content: center;
}
