<a href="/form">TRY AGAIN</a>
<h3 [hidden]="allDates">Please, wait...</h3>
<h3 [hidden]="allDates">Please, wait...</h3>
<div class="bigWrap" *ngIf="allDates">

    <div class="wrapButtons">
        <div *ngFor="let date of allDates;let i=index">
            <a class="buttons">{{date}}</a>
        </div>
    </div>
</div>

<!--      <div class="wrap">-->
<!--          <div *ngFor="let len of length; let i = index">-->
<!--              <div (click)="openDetails(i)" class="mainForName">{{len}}</div>-->
<!--          </div>-->
<!--      </div>-->
<div class="bigWrap" *ngIf="allNames">
    <div class="wrap">
        <div *ngFor="let name of allNames; let i = index">
            <div (click)="openDetails(i)" class="mainForName">{{name}}</div>
        </div>
    </div>
</div>
