<div class="centerBlock">
    <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
        <div class="form-group dateInput">
            <label>Date start</label><br>
            <input type="date" class="form-control" name="dateStart" formControlName="dateStart" />
            <div class="alert alert-danger" *ngIf="myForm.controls['dateStart'].invalid && myForm.controls['dateStart'].touched">
                Не указана дата
            </div>
        </div>

        <div class="form-group dateInput">
            <label>Date end</label> <br>
            <input type="date" class="form-control" name="dateEnd" formControlName="dateEnd" />

            <div class="alert alert-danger" *ngIf="myForm.controls['dateEnd'].invalid && myForm.controls['dateEnd'].touched">
                Не указана дата
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary col-md-4 offset-4" [disabled]="myForm.invalid">
    Отправить
  </button>
        </div>
    </form>
</div>